<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval='1000'>
        <img class="d-block w-100" src="https://source.unsplash.com/random/600x200" alt="1">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img class="d-block w-100" src="https://source.unsplash.com/random/400x200" alt="2">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img class="d-block w-100" src="https://source.unsplash.com/random/500x200" alt="3">
      </div>
    </div>
  </div>